* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
}

main {
    width: 90%;
    margin: 0 auto;
    max-width: 1110px;
    position: inherit;
}

nav {
    padding-top: 1.25rem;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

nav img {
    height: 28px;
}

.nav-list {
    align-self: flex-end;
    width: 100%;
    height: 100vh;
    top: 0px;
    position: absolute;
    right: -1px;
    display: none;
    flex-direction: column;
    left: 0;
}

.nav-list ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 24px;
    background-color: white;
    padding: 4rem 1rem;
    align-self: flex-end;
    width: 70%;
    height: 100%;
}

.nav-list li {
    color: hsl(236, 13%, 42%)
}

.nav-list li:hover {
    color: hsl(5, 85%, 63%);
    transition: 0.5s all ease-in;
}

.nav-list .menu-btn {
    align-self: flex-end;
    background-color: white;
    width: 70%;
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem 0.5rem 0 0;
    margin-bottom: -1px;
}

.show-menu .nav-list {
    display: flex;
    background: hsla(240, 100%, 5%, 0.5);
    mix-blend-mode: normal;
}

.show-menu .menu-btn::after {
    content: url(news-homepage-main/assets/images/icon-menu-close.svg);
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.menu-btn::after {
    content: url(news-homepage-main/assets/images/icon-menu.svg);
    transition: 0.2s all ease;
}

header {
    padding: 2.5rem 0 0.125rem 0;
}

.hero {
    background-image: url(news-homepage-main/assets/images/image-web-3-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    block-size: 300px;
}
